<template>
  <Dialog as="div" :open="props.open" static class="relative z-10">
    <TransitionRoot
      as="div"
      appear
      :show="props.open"
      class="fixed inset-0 flex flex-col justify-end px-4"
      @after-leave="$emit('modal:left')"
    >
      <!-- Overlay -->
      <TransitionChild
        class="absolute top-0 left-0 h-full w-full bg-black/30"
        enter="transition-opacity ease-linear duration-200"
        enter-from="opacity-0"
        enter-to="opacity-100"
        leave="transition-opacity ease-linear duration-150"
        leave-from="opacity-100"
        leave-to="opacity-0"
      />

      <TransitionChild
        as="DialogPanel"
        class="mx-auto flex max-h-[84vh] w-full max-w-screen-md flex-grow flex-col rounded-b-none rounded-t border border-portra bg-portra-100 px-4 pt-4 drop-shadow-xl"
        enter="transition-translate duration-200"
        enter-from="translate-y-full"
        enter-to="translate-y-0"
        leave="transition-translate duration-150"
        leave-from="translate-y-0"
        leave-to="translate-y-full"
      >
        <DialogTitle
          as="h3"
          class="h-10 border-b border-gray-300 text-2xl font-black text-gray-900"
        >
          <slot name="title" />
        </DialogTitle>

        <div class="flex grow flex-col overflow-y-auto">
          <slot name="main" />
        </div>

        <footer class="grow-0 border-t border-gray-300">
          <div class="-mb-3 flex pt-2">
            <SecondaryButton @click="$emit('modal:cancel')"
              >Cancel</SecondaryButton
            >
            <slot name="footer" />
          </div>
          <div class="-mx-4 h-7 bg-portra"></div>
        </footer>
      </TransitionChild>
    </TransitionRoot>
  </Dialog>
</template>

<script setup lang="ts">
  import {
    Dialog,
    DialogTitle,
    TransitionChild,
    TransitionRoot,
  } from "@headlessui/vue";

  import SecondaryButton from "../Buttons/SecondaryButton.vue";

  const props = defineProps({
    open: {
      type: Boolean,
      default: true,
    },
  });
</script>
