<template>
  <div
    class="flex h-full cursor-pointer items-center justify-center bg-cinestill-400 hover:bg-cinestill-500 hover:shadow-inner"
  >
    <icon class="text-3xl text-white" name="trash-outline"></icon>
  </div>
</template>

<script lang="ts" setup>
  import Icon from "../Icon.vue";
</script>

<style scoped lang="scss">
  @import "@/sass/colors.module.scss";
  .swipe-remove {
    background-color: $cinestill;

    ion-icon {
      font-size: 1.6rem;
      color: $white;
    }
  }
</style>
