<template>
  <label
    class="align-self-end flex min-w-0 overflow-hidden overflow-ellipsis whitespace-nowrap text-xl font-bold tracking-tighter text-black"
  >
    <slot />
  </label>
</template>

<script lang="ts" setup></script>
