<template>
  <div class="-mb-4 flex gap-1">
    <label
      class="relative isolate z-10 ml-5 basis-0 rounded border border-portra bg-white px-2 text-3xl font-bold tracking-tighter drop-shadow-sm"
      >{{ props.title }}</label
    >
    <SecondaryButton
      v-if="props.sort"
      class="relative isolate z-10"
      @click="$emit('table:sort')"
    >
      <label>
        <icon v-show="sort === Sort.ASC" name="caret-up-outline" />
        <icon v-show="sort === Sort.DESC" name="caret-down-outline" />
      </label>
    </SecondaryButton>
  </div>

  <div
    class="flex grow basis-0 flex-col self-stretch overflow-y-auto rounded border border-portra bg-white drop-shadow-md"
  >
    <slot />
  </div>
</template>

<script setup lang="ts">
  import { computed, defineProps } from "vue";
  import Icon from "../Icon.vue";
  import { Sort } from "../../@types";
  import SecondaryButton from "../Buttons/SecondaryButton.vue";

  const props = defineProps({
    title: {
      type: String as () => string,
      required: true,
    },
    sort: {
      type: String as () => Sort,
    },
  });

  defineEmits(["table:sort"]);
</script>
