<template>
  <span class="relative isolate">
    <router-link
      class="relative z-10 flex min-h-[60px] flex-shrink-0 border-b border-solid border-gray-200 bg-white hover:bg-portra-100 hover:shadow-inner"
      :style="[{ 'margin-right': `${margin}px` }]"
      draggable="false"
      :to="frameLink"
      ref="entryRef"
    >
      <div class="flex w-full flex-col">
        <div class="flex w-full flex-grow">
          <div class="mt-auto mr-0 mb-0 ml-2 text-black">
            <slot name="label" />
          </div>

          <div class="mt-1 mr-2 mb-0 ml-auto text-right text-xs text-black">
            <slot name="info" />
          </div>
        </div>

        <p
          class="mx-2 mb-1 -mt-[2px] overflow-hidden overflow-ellipsis whitespace-nowrap text-xs text-gray-600"
        >
          <slot name="notes" />
        </p>
      </div>
    </router-link>

    <div
      class="absolute right-0 -top-[1px] w-14 border-y border-portra-200"
      :style="{ height: `${entryHeight}px` }"
    >
      <slot name="behind" />
    </div>
  </span>
</template>

<script setup lang="ts">
  import { computed, onMounted, ref, watch } from "vue";
  import { RouteLocationRaw } from "vue-router";
  import { usePointerSwipe, VueInstance } from "@vueuse/core";

  /*
  |--------------------------------------------------------------------------
  | Init
  |--------------------------------------------------------------------------
  */

  const props = defineProps({
    to: {
      type: Object as () => RouteLocationRaw,
      required: true,
    },
  });

  /*
  |--------------------------------------------------------------------------
  | Swipe Handlers
  |--------------------------------------------------------------------------
  */

  const entryRef = ref<VueInstance>();
  const entryEl = computed(() => entryRef.value?.$el);

  const isSwipe = ref(false);

  const margin = ref<number>(0);

  /**
   * The entry height can change WHILE swiping is happening.
   * Call getEntryHeight on every swipe event to keep the height up to date.
   */
  const entryHeight = ref(60);

  onMounted(() => (entryHeight.value = getEntryHeight()));

  function getEntryHeight() {
    return entryRef.value?.$el.getBoundingClientRect().height;
  }

  onMounted(() => {
    const SWIPE_MIN = 0;
    const MAX_RIGHT = 0;
    const MAX_LEFT = 54;
    const SWIPE_THRESHOLD = MAX_LEFT / 2;

    /**
     * Keep a record of the amount right we last were so we can calculate how far we've travelled.
     */
    let lastRight = 0;

    /**
     * Init the listener
     */
    const { direction, distanceX } = usePointerSwipe(entryEl.value, {
      threshold: SWIPE_MIN,

      onSwipe() {
        isSwipe.value = true;

        if (direction.value === "LEFT") {
          margin.value = distanceX.value;
          margin.value = margin.value <= MAX_LEFT ? margin.value : MAX_LEFT;

          // Jump to MAX_LEFT if swipe is more than half way there
          if (margin.value >= SWIPE_THRESHOLD) {
            margin.value = MAX_LEFT;
          }

          lastRight = 0;
        }

        if (direction.value === "RIGHT") {
          const rightABS = Math.abs(distanceX.value);

          // How far we've gone since the last RIGHT
          const rightDelta = rightABS - lastRight;

          // Adjust the margin. Keep >= 0
          margin.value = margin.value - rightDelta;
          margin.value = margin.value >= MAX_RIGHT ? margin.value : MAX_RIGHT;

          // Jump to MAX_RIGHT if swipe is more than half way there
          if (margin.value <= SWIPE_THRESHOLD) {
            margin.value = MAX_RIGHT;
          }

          lastRight = rightABS;
        }

        entryHeight.value = getEntryHeight();
      },

      onSwipeEnd() {
        isSwipe.value = false;

        // Hold at MAX until threshold is crossed
        if (margin.value >= SWIPE_THRESHOLD) {
          margin.value = MAX_LEFT;
        } else {
          margin.value = MAX_RIGHT;
        }
      },
    });
  });

  /*
  |--------------------------------------------------------------------------
  | Click Handlers
  |--------------------------------------------------------------------------
  | Not really a handler, but this deactivates the shot link while user is
  | swiping. Maybe a little hacky?
  */

  /**
   * Time to wait after isSwipe is false to reset the link. nextTick is not enough
   */
  const LINK_SET_DELAY = 100;

  /**
   * empty if we are swiping, real route if not
   */
  const frameLink = ref<RouteLocationRaw>(props.to);

  watch(isSwipe, () => {
    if (isSwipe.value) {
      frameLink.value = {};
    } else {
      setTimeout(() => {
        frameLink.value = props.to;
      }, LINK_SET_DELAY);
    }
  });
</script>
