<template>
  <ListLayout>
    <TableFrame title="Rolls">
      <transition-group>
        <roll-entry
          v-for="roll in rollTableStore.rolls"
          :key="roll.id"
          :roll="roll"
        />
      </transition-group>
    </TableFrame>

    <ActionFooter>
      <ActionButton @click="handleClick">
        <span>
          <icon name="add-outline" />
        </span>
      </ActionButton>
    </ActionFooter>
  </ListLayout>
</template>

<script setup>
  import { onMounted } from "vue";

  import { progress } from "../Api";

  import ListLayout from "../Core/Components/ListLayout.vue";
  import RollEntry from "./Components/RollEntry.vue";
  import TableFrame from "../Core/Components/Table/TableFrame.vue";
  import ActionButton from "../Core/Components/Buttons/ActionButton.vue";
  import ActionFooter from "@/modules/Core/Components/ActionFooter.vue";
  import Icon from "@/modules/Core/Components/Icon.vue";

  import { useRollTableStore } from "./store";

  /*
  |--------------------------------------------------------------------------
  | Init
  |--------------------------------------------------------------------------
  */

  const rollTableStore = useRollTableStore();

  /*
  |--------------------------------------------------------------------------
  | Hydrate Module
  |--------------------------------------------------------------------------
  */

  onMounted(async () => {
    rollTableStore.markNeedsHydration();

    await rollTableStore.fetchRolls();

    rollTableStore.markFullyHydrated();

    if (rollTableStore.hydrated) progress.done();
  });
</script>
