<template>
  <nav class="flex h-10 px-4 gap-2 bg-portra isolate">
    <SecondaryButton
      v-if="$route.name !== 'home'"
      class="mt-3"
      @click="$router.push({ name: authStore.isLoggedIn ? 'rolls' : 'home' })"
    >
      <span class="icon">
        <icon name="home-outline" />
      </span>
    </SecondaryButton>

    <!-- <breadcrumbs /> -->

    <PrimaryButton v-if="!authStore.isLoggedIn" class="mt-3">
      Sign Up
    </PrimaryButton>

    <SecondaryButton
      class="mt-3"
      v-if="!authStore.isLoggedIn && $route.name !== 'login'"
      @click="router.push({ name: 'login' })"
    >
      Login
    </SecondaryButton>

    <div class="ml-auto mt-3">
      <!-- <SettingsMenu v-if="authStore.isLoggedIn" /> -->

      <SecondaryButton v-if="authStore.isLoggedIn" @click="handleLogout">
        Logout
      </SecondaryButton>
    </div>
  </nav>
</template>

<script lang="ts" setup>
  import { useRouter } from "vue-router";

  import { api, ziggy } from "@/modules/Api";

  import { useAuthStore } from "@/modules/Auth/store";

  // import Breadcrumbs from "./Breadcrumbs.vue";
  import Icon from "@/modules/Core/Components/Icon.vue";
  import SettingsMenu from "./Components/SettingsMenu.vue";

  import SecondaryButton from "../Core/Components/Buttons/SecondaryButton.vue";
  import PrimaryButton from "../Core/Components/Buttons/PrimaryButton.vue";

  const authStore = useAuthStore();
  const router = useRouter();
  /*
  |--------------------------------------------------------------------------
  | Handle Logout
  |--------------------------------------------------------------------------
  */

  function handleClickSettings() {}

  async function handleLogout() {
    await api.post(ziggy.route("logout"));

    router.push("/");
    authStore.$reset();
  }
</script>
