<template>
  <action-footer @actionButton:click="handleClick">
    <template #default>
      <action-button @actionButton:click="handleClick">
        <span class="icon">
          <icon name="add-outline" />
        </span>
      </action-button>
    </template>
  </action-footer>
</template>

<script setup lang="ts">
  import { useRouter } from "vue-router";

  import ActionFooter from "@/modules/Core/Components/ActionFooter.vue";
  import ActionButton from "@/modules/Core/Components/Buttons/ActionButton.vue";
  import Icon from "@/modules/Core/Components/Icon.vue";

  const router = useRouter();

  function handleClick() {
    router.push({ name: "lens-new" });
  }
</script>
