<template>
  <table-entry-frame :to="lensLink">
    <template #label>
      <span class="is-flex is-flex is-flex-gap-2">
        <label id="lens-make">{{ props.lens?.make }} </label>
        <label id="lens-model">{{ props.lens?.model }} </label>
      </span>
    </template>

    <template #info>
      <p class="is-size-6">
        &fnof;{{ props.lens?.minimum_aperture }} &ndash;
        {{ props.lens?.maximum_aperture }}
      </p>

      <p class="is-size-7">
        {{ dateCreated }}
      </p>
    </template>

    <template #notes>
      {{ props.lens.notes }}
    </template>

    <template #behind>
      <swipe-remove @click="" />
    </template>
  </table-entry-frame>
</template>

<script lang="ts" setup>
  import { computed } from "vue";
  import { DateTime } from "luxon";

  import TableEntryFrame from "@/modules/Core/Components/Table/TableEntryFrame.vue";
  import SwipeRemove from "@/modules/Core/Components/Table/SwipeRemove.vue";

  import { Lens } from "@/modules/Core/@types";

  /*
  |--------------------------------------------------------------------------
  | Init
  |--------------------------------------------------------------------------
  */

  const props = defineProps({
    lens: {
      type: Object as () => Lens,
    },
  });

  /*
  |--------------------------------------------------------------------------
  | Format for Display
  |--------------------------------------------------------------------------
  */

  const dateCreated = computed(() =>
    DateTime.fromISO(props.lens?.created_at || "").toLocaleString(
      DateTime.DATETIME_MED
    )
  );

  const lensLink = computed(() => {
    return {
      name: "lens-edit",
      params: {
        lensId: props.lens?.id,
      },
    };
  });
</script>

<style scoped lang="scss">
  @import "@/sass/colors.module.scss";

  label {
    &#lens-make {
      font-weight: bold;
    }
    &#lens-model {
      font-weight: normal;
    }
  }
</style>
