<template>
  <div class="is-flex is-flex-gap-1 mt-2">
    <text-field
      class="is-flex-grow-1"
      label="Lens Make"
      v-model:value="lensData.make"
    />
    <text-field
      class="is-flex-grow-1"
      label="Lens Model"
      v-model:value="lensData.model"
    />
  </div>

  <textarea-field label="Notes" v-model:value="lensData.notes" />
</template>

<script lang="ts" setup>
  import { onMounted, reactive } from "vue";

  import TextField from "@/modules/Core/Components/Fields/TextField.vue";
  import TextareaField from "@/modules/Core/Components/Fields/TextareaField.vue";

  import { Lens } from "@/modules/Core/@types";

  const props = defineProps<{
    lens?: Lens;
  }>();

  type LensDraft = Pick<
    Partial<Lens>,
    "make" | "model" | "minimum_aperture" | "maximum_aperture" | "notes"
  >;

  const lensData = reactive<LensDraft>({
    make: undefined,
    model: undefined,
    maximum_aperture: undefined,
    minimum_aperture: undefined,
    notes: undefined,
  });

  onMounted(() => {
    Object.entries(lensData).forEach(([key, _]) => {
      const typedKey = key as keyof LensDraft;

      // @ts-expect-error Don't understand why TS can't figure this out...
      lensData[typedKey] = props.lens?.[typedKey];
    });
  });
</script>
