<template>
  <router-view name="header" />

  <router-view name="main" class="w-full max-w-screen-md self-center" />
</template>

<script setup>
  /*
  |--------------------------------------------------------------------------
  | Init
  |--------------------------------------------------------------------------
  */
</script>

<style scoped lang="scss"></style>
