<template>
  <BigLogo />

  <FormFrame
    class="mb-4 w-full max-w-screen-xxs grow justify-end self-center px-4"
  >
    <EmailField v-model:value="credentials.email" />
    <PasswordField v-model:value="credentials.password" />
  </FormFrame>

  <section class="h-44 bg-portra">
    <div
      class="mx-auto mt-4 w-full max-w-screen-xxs justify-end self-center px-4"
    >
      <PrimaryButton class="w-full" @click="handleSignIn">
        <span>Sign In</span>
      </PrimaryButton>

      <TertiaryButton>Reset password</TertiaryButton>
    </div>
  </section>
</template>

<script setup lang="ts">
  import { ref } from "vue";
  import { useRouter } from "vue-router";

  import BigLogo from "@/modules/Core/Components/BigLogo.vue";
  import EmailField from "@/modules/Core/Components/Fields/EmailField.vue";
  import FormFrame from "@/modules/Core/Components/FormFrame.vue";
  import PasswordField from "@/modules/Core/Components/Fields/PasswordField.vue";
  import PrimaryButton from "@/modules/Core/Components/Buttons/PrimaryButton.vue";

  import { api, progress, ziggy } from "@/modules/Api";

  import { useAuthStore } from "@/modules/Auth/store";
  import TertiaryButton from "../modules/Core/Components/Buttons/TertiaryButton.vue";

  /*
  |--------------------------------------------------------------------------
  | Init
  |--------------------------------------------------------------------------
  */

  const router = useRouter();
  const authStore = useAuthStore();
  const { route } = ziggy;

  /*
  |--------------------------------------------------------------------------
  | Handle Sign In
  |--------------------------------------------------------------------------
  */

  const credentials = ref({
    email: null,
    password: null,
  });

  async function handleSignIn() {
    try {
      await api.get(route("cookie"));
      await api.post(route("login"), credentials.value);

      authStore.isLoggedIn = true;
      await authStore.fetchUser();

      router.push({ name: "rolls" });
    } catch (e) {
      console.log(e);
    }

    // progress.done() is called after the redirect hydration
  }

  async function handleReset() {
    await authStore.fetchUser();
  }
</script>
