<template>
  <section
    v-if="matchedSetting"
    class="max-width-is-tablet full-width full-height is-align-self-center is-flex-grow-1 is-flex is-flex-direction-column"
  >
    <div class="mx-2 mt-5 title has-text-black is-flex is-flex-gap-2">
      <icon :name="matchedSetting.icon" class="mt-auto" />
      <span>
        {{ matchedSetting.header }}
      </span>
    </div>

    <router-view name="main" />
  </section>

  <router-view v-if="!isEditRoute && !isNewRoute" name="footer" />
</template>

<script lang="ts" setup>
  import { computed } from "vue";
  import { useRoute } from "vue-router";

  import Icon from "@/modules/Core/Components/Icon.vue";

  /*
  |--------------------------------------------------------------------------
  | Init
  |--------------------------------------------------------------------------
  */

  enum Setting {
    UserSettings = "user-settings",
    CameraSettings = "camera-settings",
    LensSettings = "lens-settings",
  }

  const SETTING_TITLES = {
    [Setting.UserSettings]: { header: "User Settings", icon: "person-circle" },
    [Setting.CameraSettings]: { header: "Manage Cameras", icon: "camera" },
    [Setting.LensSettings]: { header: "Manage Lenses", icon: "aperture" },
  };

  /*
  |--------------------------------------------------------------------------
  | Format for display
  |--------------------------------------------------------------------------
  */

  const route = useRoute();

  const matchedSetting = computed(() => {
    const matchedRoute = route.matched.find(
      (route) =>
        route.name === Setting.CameraSettings ||
        route.name === Setting.UserSettings ||
        route.name === Setting.LensSettings
    );

    return matchedRoute
      ? SETTING_TITLES[matchedRoute.name as Setting]
      : undefined;
  });

  const isEditRoute = computed(() => {
    const searchRes = (route.name as string | undefined)?.search("edit");

    return (searchRes || false) > -1;
  });
  const isNewRoute = computed(() => {
    const searchRes = (route.name as string | undefined)?.search("new");

    return (searchRes || false) > -1;
  });
</script>

<style scoped lang="scss"></style>
