<template>
  <action-footer>
    <template #left>
      <back-button @click="handleBackClick" />
    </template>

    <template #default>
      <action-button @actionButton:click="handleActionClick">
        <span class="icon">
          <icon name="checkmark-outline" />
        </span>
      </action-button>
    </template>
  </action-footer>
</template>

<script setup lang="ts">
  import router from "@/scripts/router";

  import ActionFooter from "@/modules/Core/Components/ActionFooter.vue";
  import ActionButton from "@/modules/Core/Components/Buttons/ActionButton.vue";
  import BackButton from "@/modules/Core/Components/BackButton.vue";
  import Icon from "@/modules/Core/Components/Icon.vue";

  import { useShotEditStore } from "../store";

  import { api, ziggy } from "@/modules/Api";
  import { useShotValidation } from "../Composables/Validation";

  import { isShot, NewShot } from "../@types";
  import { Shot } from "@/modules/Core/@types";

  /*
  |--------------------------------------------------------------------------
  | Init
  |--------------------------------------------------------------------------
  */
  const shotEditStore = useShotEditStore();

  /*
  |--------------------------------------------------------------------------
  | Handlers
  |--------------------------------------------------------------------------
  */

  function handleBackClick() {
    backToShots();
  }

  async function handleActionClick() {
    if (useShotValidation().validateShot()) return;

    try {
      if (shotEditStore.shot && isShot(shotEditStore.shot)) {
        await saveShot(shotEditStore.shot);
      } else if (shotEditStore.shot) {
        await saveNewShot(shotEditStore.shot);
      }

      backToShots();
    } catch {
      // show error?
    }
  }

  async function saveShot(shot: Shot) {
    await api.put(
      ziggy.route("roll.shot.update", {
        roll: shotEditStore.roll?.id,
        shot: shot.id,
      }),
      shot
    );

    return;
  }

  async function saveNewShot(shot: NewShot) {
    await api.post(
      ziggy.route("roll.shot.store", {
        roll: shotEditStore.roll?.id,
      }),
      shot
    );

    return;
  }

  function backToShots() {
    router.push({ name: "shots" });
  }
</script>
