<template>
  <TableEntryFrame :to="{ name: 'shots', params: { rollId: props.roll.id } }">
    <template #label>
      <TableEntryFrameLabel>
        {{ roll.film_stock }}
        <icon
          v-if="roll.completed"
          name="checkmark-circle-outline"
          class="ml-1 self-center text-fuji-600"
        />
      </TableEntryFrameLabel>
    </template>

    <template #info>
      <div class="text-sm">
        <span class="font-bold">{{ camera }}</span>
        &bull;
        <span
          >ISO {{ roll.film_iso }}
          <span v-if="pushPull">({{ pushPull }})</span></span
        >
      </div>
      <!-- Time on mobile -->
      <div class="block text-xs xs:hidden">
        {{ timeStamps.createdAtShort }} &ndash;
        {{ timeStamps.updatedAtShort }}
      </div>
      <!-- Time on larger than mobile -->
      <div class="hidden text-xs xs:block">
        {{ timeStamps.createdAt }} &ndash; {{ timeStamps.updatedAt }}
      </div>
    </template>

    <template #notes v-if="roll.notes">
      {{ roll.notes }}
    </template>

    <template #behind>
      <swipe-remove @click="handleRollRemove" />
    </template>
  </TableEntryFrame>
</template>

<script lang="ts" setup>
  import { computed } from "vue";
  import { DateTime } from "luxon";

  import { api, progress, ziggy } from "@/modules/Api";
  import { useDisplayFormatters } from "@/modules/Core/Composables/DisplayFormatters";

  import { useRollTableStore } from "../store";

  import Icon from "@/modules/Core/Components/Icon.vue";
  import SwipeRemove from "@/modules/Core/Components/Table/SwipeRemove.vue";
  import TableEntryFrame from "@/modules/Core/Components/Table/TableEntryFrame.vue";
  import TableEntryFrameLabel from "@/modules/Core/Components/Table/TableEntryFrameLabel.vue";

  import { Roll } from "@/modules/Core/@types";

  /*
  |--------------------------------------------------------------------------
  | Init
  |--------------------------------------------------------------------------
  */

  const props = defineProps({
    roll: {
      type: Object as () => Roll,
      required: true,
    },
  });

  /*
  |--------------------------------------------------------------------------
  | Format for Display
  |--------------------------------------------------------------------------
  */

  const { formatCamera, formatPushPull } = useDisplayFormatters();

  const pushPull = computed(() => formatPushPull(props.roll.pushpull));
  const camera = computed(() => formatCamera(props.roll.camera));

  const timeStamps = computed(() => {
    return {
      createdAt: DateTime.fromISO(props.roll.created_at).toLocaleString(
        DateTime.DATETIME_MED
      ),
      createdAtShort: DateTime.fromISO(props.roll.created_at).toLocaleString(
        DateTime.DATE_MED
      ),
      updatedAt: DateTime.fromISO(props.roll.updated_at).toLocaleString(
        DateTime.DATETIME_MED
      ),
      updatedAtShort: DateTime.fromISO(props.roll.updated_at).toLocaleString(
        DateTime.DATE_MED
      ),
    };
  });

  /*
  |--------------------------------------------------------------------------
  | Handlers
  |--------------------------------------------------------------------------
  */

  const rollTableStore = useRollTableStore();

  async function handleRollRemove() {
    progress.start();

    try {
      await api.delete(ziggy.route("roll.destroy", { roll: props.roll.id }));

      await rollTableStore.fetchRolls();
    } catch {
      // ...
    }

    progress.done();
  }
</script>
