<template>
  <list-layout>
    <template
      v-if="['lens-edit', 'lens-new'].includes((route.name || '') as string)"
    >
      <form-frame
        :outlined="true"
        :showConfirm="true"
        :showCancel="true"
        @form:confirm=""
        @form:cancel="handleLensEditCancel"
      >
        <lens-edit :lens="authStore.getLens(Number(route.params.lensId))" />
      </form-frame>
    </template>

    <table-frame title="Lenses">
      <transition-group>
        <lens-entry
          v-for="lens in authStore.lenses"
          :key="lens.id"
          :lens="lens"
        />
      </transition-group>
    </table-frame>
  </list-layout>
</template>

<script lang="ts" setup>
  import { useRoute, useRouter } from "vue-router";

  import FormFrame from "../Core/Components/FormFrame.vue";
  import ListLayout from "../Core/Components/ListLayout.vue";
  import TableFrame from "../Core/Components/Table/TableFrame.vue";
  import LensEntry from "./Components/LensEntry.vue";
  import LensEdit from "./Components/LensEdit.vue";

  import { useAuthStore } from "../Auth/store";
  import { onMounted } from "vue";
  import { api, progress, ziggy } from "../Api";
  import { Lens } from "../Core/@types";

  /*
  |--------------------------------------------------------------------------
  | Init
  |--------------------------------------------------------------------------
  */

  const authStore = useAuthStore();
  const route = useRoute();
  const router = useRouter();

  onMounted(async () => {
    progress.start();

    await authStore.fetchLenses();

    progress.done();
  });

  /*
  |--------------------------------------------------------------------------
  | Event Handlers
  |--------------------------------------------------------------------------
  */

  function handleLensEditCancel() {
    router.push({ name: "lens-settings" });
  }
</script>
