<template>
  <button
    :class="[
      ButtonColor.Fuji,
      '-mt-5 rounded-full p-1 text-5xl drop-shadow hover:shadow-inner hover:drop-shadow-lg',
    ]"
    @click="$emit('actionButton:click')"
  >
    <slot />
  </button>
</template>

<script lang="ts" setup>
  import { ButtonColor } from "./@types";
</script>
