<template>
  <div class="flex w-full">
    <span
      v-for="button in buttons"
      :class="[
        Button.Core,
        'flex-1 px-0 drop-shadow-none first:rounded-l last:rounded-r hover:drop-shadow-none',
        outline,
        button.value === active?.value ? selectedColor : color,
      ]"
    >
      <button type="button" @click="handleClick(button)" class="w-full">
        <span>{{ button.label }}</span>
      </button>
    </span>
  </div>
</template>

<script lang="ts" setup>
  import { ref, watch } from "vue";

  import {
    Button,
    ButtonColor,
    ButtonOutline,
    ButtonGroupButton,
  } from "./@types";

  /*
  |-------------------------------------------------------------------------- 
  | Init
  |--------------------------------------------------------------------------
  */

  const props = defineProps<{
    buttons: ButtonGroupButton[];
    value?: ButtonGroupButton;
    color: ButtonColor;
    selectedColor: ButtonColor;
    outline?: ButtonOutline;
  }>();

  const emit = defineEmits(["update:value"]);

  const active = ref<ButtonGroupButton | undefined>(props.value);

  watch(active, () => {
    emitChange(active.value);
  });

  /*
  |-------------------------------------------------------------------------- 
  | Event Handlers
  |--------------------------------------------------------------------------
  */

  function handleClick(event: ButtonGroupButton | undefined) {
    active.value = event;
  }

  function emitChange(value: ButtonGroupButton | undefined) {
    emit("update:value", value);
  }
</script>
