<template>
  <button :class="[Button.Core, 'rounded', color, outline]">
    <slot />
  </button>
</template>

<script lang="ts" setup>
  import { Button, ButtonColor, ButtonOutline } from "./@types";

  const props = defineProps<{
    color: ButtonColor;
    outline?: ButtonOutline;
  }>();
</script>
