<template>
  <CoreButton :color="ButtonColor.Fuji">
    <slot />
  </CoreButton>
</template>

<script setup lang="ts">
  import CoreButton from "./CoreButton.vue";
  import { ButtonColor } from "./@types";
</script>
