<template>
  <CoreButton :color="ButtonColor.White" :outline="ButtonOutline.Portra">
    <slot />
  </CoreButton>
</template>

<script setup lang="ts">
  import CoreButton from "./CoreButton.vue";
  import { ButtonColor, ButtonOutline } from "./@types";
</script>
