<template>
  <div
    :class="[ButtonColor.None, 'px-4 py-2 text-center hover:cursor-pointer']"
  >
    <span>
      <slot />
    </span>
  </div>
</template>

<script setup lang="ts">
  import CoreButton from "./CoreButton.vue";
  import { ButtonColor } from "./@types";
</script>
