<template>
  <dropdown-menu
    align="right"
    :isActive="isActive"
    @dropdown:clickOutside="deactivateSettingsMenu"
  >
    <template #activator>
      <button
        id="settings"
        class="button is-secondary mr-2"
        @click="handleClickSettings"
      >
        <icon class="is-size-4" name="settings-outline" />
      </button>
    </template>

    <template #items="{ _class }">
      <router-link
        v-for="setting in settingsMenu"
        :class="_class"
        @click.stop="[setting.onClick(), deactivateSettingsMenu()]"
        :to="{ name: setting.routeName }"
      >
        <span
          class="is-flex is-justify-content-end is-align-items-center is-flex-gap-3"
        >
          {{ setting.label }}
          <icon class="is-size-5" :name="setting.icon"></icon>
        </span>
      </router-link>
    </template>
  </dropdown-menu>
</template>

<script lang="ts" setup>
  import { computed, ref } from "vue";

  import Icon from "@/modules/Core/Components/Icon.vue";
  import DropdownMenu from "@/modules/Core/Components/DropdownMenu.vue";

  /*
  |--------------------------------------------------------------------------
  | Init
  |--------------------------------------------------------------------------
  */

  const isActive = ref(false);

  /*
  |--------------------------------------------------------------------------
  | Format for Display
  |--------------------------------------------------------------------------
  */

  const settingsMenu = computed(() => {
    const menu = [];

    menu.push({
      label: "User Settings",
      icon: "person-circle-outline",
      routeName: "user-settings",
      onClick: handleEditUserSettings,
    });

    menu.push({
      label: "Manage Cameras",
      icon: "camera-outline",
      routeName: "camera-settings",
      onClick: handleEditCameras,
    });

    menu.push({
      label: "Manage Lenses",
      icon: "aperture-outline",
      routeName: "lens-settings",
      onClick: handleEditLenses,
    });

    return menu;
  });

  /*
  |--------------------------------------------------------------------------
  | Handlers
  |--------------------------------------------------------------------------
  */

  function handleClickSettings() {
    isActive.value = !isActive.value;
  }

  function deactivateSettingsMenu() {
    isActive.value = false;
  }

  function handleEditUserSettings() {}
  function handleEditCameras() {}
  function handleEditLenses() {}
</script>
