<template>
  <FieldWrapper label="Aperture">
    <HorizontalSelect
      :options="lensApertures"
      :selected="selectedAperture"
      option-label="label"
      @selected:update="handleUpdate"
    ></HorizontalSelect>
  </FieldWrapper>
</template>

<script setup lang="ts">
  import { computed } from "vue";

  import { useAperture } from "@/modules/Core/Composables/Aperture";

  import FieldWrapper from "./Fields/FieldWrapper.vue";
  import HorizontalSelect from "./Fields/HorizontalSelect.vue";

  import { Lens } from "../@types";
  import { Option } from "./Fields/@types";

  /*
  |-------------------------------------------------------------------------- 
  | Init
  |--------------------------------------------------------------------------
  */

  const props = defineProps<{
    lens: Lens;
    value: number;
  }>();

  const emit = defineEmits(["update:value"]);

  const { getApertureSelectValues } = useAperture();
  const lensApertures = computed(() => getApertureSelectValues(props.lens));

  const selectedAperture = computed(() => {
    return lensApertures.value.find(
      (aperture) => aperture.value === props.value
    );
  });

  /*
  |-------------------------------------------------------------------------- 
  | Handle Select
  |--------------------------------------------------------------------------
  */

  function handleUpdate($event: Option) {
    emit("update:value", $event.value);
  }
</script>
