<template>
  <div>
    <span class="is-clickable" @click="$emit('backButton:click')">
      <icon name="chevron-back-outline" />
    </span>
  </div>
</template>

<script lang="ts" setup>
  import Icon from "./Icon.vue";
</script>

<style lang="scss" scoped>
  @import "@/sass/colors.module.scss";

  ion-icon {
    color: $white;
    font-size: 24px;
  }
</style>
