<template>
  <FieldWrapper label="Exposure Value">
    <ButtonGroup
      :buttons="exposureValues"
      :value="selectedExposureValue"
      :color="ButtonColor.White"
      :selected-color="ButtonColor.Portra"
      :outline="ButtonOutline.Portra"
      @update:value="handleUpdate"
    />
  </FieldWrapper>
</template>

<script setup lang="ts">
  import { computed } from "vue";

  import FieldWrapper from "./Fields/FieldWrapper.vue";
  import ButtonGroup from "./Buttons/ButtonGroup.vue";

  import {
    ButtonColor,
    ButtonOutline,
    ButtonGroupButton,
  } from "./Buttons/@types";

  /*
  |--------------------------------------------------------------------------
  | Init
  |--------------------------------------------------------------------------
  */

  const EXPOSURE_VALUES = [-3, -2, -1, 0, 1, 2, 3];
  const DEFAULT_EXPOSURE_VALUE = EXPOSURE_VALUES[3];

  const props = defineProps<{
    value: number;
  }>();

  const emit = defineEmits(["update:value"]);

  const exposureValues = EXPOSURE_VALUES.map((value, index) => {
    return {
      id: index,
      value: value,
      label: value < 1 ? `${value}` : `+${value}`,
    };
  });

  const selectedExposureValue = computed((): ButtonGroupButton => {
    const button = exposureValues.find((val) => val.value === props.value);

    if (button) return button;

    return exposureValues.find(
      (val) => val.value === DEFAULT_EXPOSURE_VALUE
    ) as ButtonGroupButton;
  });

  /*
  |--------------------------------------------------------------------------
  | Handle Select
  |--------------------------------------------------------------------------
  */

  function handleUpdate($event: ButtonGroupButton) {
    emit("update:value", $event.value);
  }
</script>
