<template>
  <FieldWrapper label="Aperture">
    <div class="flex">
      <div v-if="value.kind === ExposureKind.Long">
        <div>
          <input />
        </div>
        <div>
          <SelectField
            :options="longExposureTimeOptions"
            option-label="label"
            :selected="selectedLongExposureOption"
          />
        </div>
      </div>
      <HorizontalSelect
        :options="standardExposureTimeOptions"
        option-label="label"
        :selected="selectedStandardApeture"
        @selected:update="handleUpdate($event, ExposureKind.Standard)"
        :disabled="value.kind !== ExposureKind.Standard"
      />
    </div>
    <div class="mt-1 flex justify-between text-xs">
      <span
        class="flex cursor-pointer items-center gap-1 text-portra-600 hover:font-bold hover:underline"
        ><Icon name="arrow-back-outline" />Long Exposure</span
      >
      <span
        class="flex cursor-pointer items-center gap-1 text-portra-600 hover:font-bold hover:underline"
        >Custom Exposure<Icon name="arrow-forward-outline"
      /></span>
    </div>
  </FieldWrapper>
</template>

<script setup lang="ts">
  import { computed } from "vue";

  import FieldWrapper from "./Fields/FieldWrapper.vue";
  import HorizontalSelect from "./Fields/HorizontalSelect.vue";
  import Icon from "./Icon.vue";
  import SelectField from "./Fields/SelectField.vue";

  import {
    useExposureTime,
    ExposureTime,
    ExposureKind,
  } from "../Composables/ExposureTime";

  import { Option } from "./Fields/@types";

  /*
  |--------------------------------------------------------------------------
  | Init
  |--------------------------------------------------------------------------
  */

  const props = defineProps<{
    value: ExposureTime;
  }>();
  const emit = defineEmits(["update:value"]);

  const { standardExposureTimeOptions, longExposureTimeOptions } =
    useExposureTime();

  const selectedStandardApeture = computed(() => {
    return standardExposureTimeOptions.find(
      (exposure) => exposure.value == props.value.value
    );
  });

  const selectedLongExposureOption = computed(() => {
    return longExposureTimeOptions.find((option) => {
      if (props.value.kind === ExposureKind.Long)
        return option.value === props.value.unit;
    });
  });

  /*
  |--------------------------------------------------------------------------
  | Handle Select
  |--------------------------------------------------------------------------
  */

  function handleUpdate($event: Option, exposureKind: ExposureKind) {
    if (exposureKind === ExposureKind.Long) {
      // TODO
    }

    emit("update:value", {
      value: $event.value,
      kind: exposureKind,
    });
  }
</script>
