<template>
  <ion-icon v-if="showIcon" v-bind="$attrs" />
</template>

<script setup lang="ts">
  import { nextTick, onMounted, ref } from "vue";

  /*
  |--------------------------------------------------------------------------
  | HACK!
  |--------------------------------------------------------------------------
  | This whole component is a bit of a hack that unmounts and then remounts 
  | the icon component. I was having trouble with the icons not loading back 
  | in on page navigation. This solves that issue...
  */

  const showIcon = ref(false);

  onMounted(() => {
    showIcon.value = false;

    nextTick(() => (showIcon.value = true));
  });
</script>

<style lang="scss" scoped>
  ion-icon {
    display: block;
  }
</style>
