<template>
  <FieldWrapper label="Push/Pull">
    <HorizontalSelect
      :options="pushPullSliderValues"
      :selected="selectedPushPull"
      option-label="label"
      @selected:update="handleUpdate"
    ></HorizontalSelect>
  </FieldWrapper>
</template>

<script setup lang="ts">
  import { computed } from "vue";

  import FieldWrapper from "./Fields/FieldWrapper.vue";
  import HorizontalSelect from "./Fields/HorizontalSelect.vue";

  import { Option } from "./Fields/@types";

  /*
  |--------------------------------------------------------------------------
  | Init
  |--------------------------------------------------------------------------
  */

  const PUSH_PULL = [-3, -2, -1, 0, 1, 2, 3];
  const DEFAULT_PUSH_PULL = 0;

  const props = defineProps<{
    value: number;
  }>();

  const emit = defineEmits(["update:value"]);

  const pushPullSliderValues = PUSH_PULL.map((value, index) => {
    return {
      id: index,
      value: value,
      label: value < 1 ? value.toString() : `+${value}`,
    };
  });

  const selectedPushPull = computed((): Option => {
    const option = pushPullSliderValues.find(
      (val) => val.value === props.value
    );

    if (option) return option;

    return pushPullSliderValues.find(
      (val) => val.value === DEFAULT_PUSH_PULL
    ) as Option; /* Safe to cast because DEFAULT_PUSH_PULL will always exist */
  });

  /*
  |--------------------------------------------------------------------------
  | Handle Select
  |--------------------------------------------------------------------------
  */

  function handleUpdate($event: Option) {
    emit("update:value", $event.value);
  }
</script>
