<template>
  <ListLayout>
    <roll-info
      v-show="!shotTableStore.editRollActive"
      @rollInfo:edit="activateEditRoll"
    />

    <!-- <roll-edit
      @rollEdit:cancel="cancelEditRoll"
      v-if="shotTableStore.editRollActive"
    /> -->

    <TableFrame
      title="Shots"
      :sort="shotTableStore.sort"
      @table:sort="shotTableStore.reverseSort"
    >
      <transition-group>
        <ShotEntry
          v-for="(shot, index) in shotTableStore.shots"
          :key="shot.id"
          :number="calculateShotNumber(index)"
          :shot="shot"
        />
      </transition-group>
    </TableFrame>

    <ActionFooter>
      <ActionButton @click="">
        <span>
          <icon name="add-outline" />
        </span>
      </ActionButton>
    </ActionFooter>

    <!-- ShotEditModal -->
    <Modal v-if="shotEditModal" />
  </ListLayout>
</template>

<script setup lang="ts">
  import { computed, defineProps, onMounted, ref, watch } from "vue";
  import { useRoute, onBeforeRouteLeave } from "vue-router";

  import { progress } from "../Api";
  import { useFieldValidationStore } from "@/modules/Core/Stores/FieldValidation";

  import { useShotTableStore } from "./store";

  import ListLayout from "../Core/Components/ListLayout.vue";
  import TableFrame from "../Core/Components/Table/TableFrame.vue";
  import RollInfo from "./Components/RollInfo.vue";
  import ShotEntry from "./Components/ShotEntry.vue";
  import RollEdit from "./Components/RollEdit.vue";
  import ActionButton from "../Core/Components/Buttons/ActionButton.vue";
  import ActionFooter from "@/modules/Core/Components/ActionFooter.vue";
  import Icon from "@/modules/Core/Components/Icon.vue";

  import Modal from "../ShotEdit_v2/index.vue";

  import { Roll, Sort } from "@/modules/Core/@types";

  /*
  |--------------------------------------------------------------------------
  | Init
  |--------------------------------------------------------------------------
  */

  const route = useRoute();

  const props = defineProps({
    rollId: {
      type: String as () => string,
    },
  });

  const shotTableStore = useShotTableStore();
  const fieldValidationStore = useFieldValidationStore();

  if (route.name === "new-roll") {
    shotTableStore.makeNewRoll();

    shotTableStore.editRollActive = true;
  }

  const shotEditModal = computed(() => route.name === "shot");

  /*
  |--------------------------------------------------------------------------
  | Hydrate Module
  |--------------------------------------------------------------------------
  */

  onMounted(hydrate);
  watch(shotEditModal, hydrate);

  async function hydrate() {
    if (route.meta.requiresHydration) {
      shotTableStore.markNeedsHydration();

      await shotTableStore.fetchRoll(Number(props.rollId));

      shotTableStore.markFullyHydrated();

      if (shotTableStore.hydrated) progress.done();
    }
  }

  /*
  |--------------------------------------------------------------------------
  | Handle Edit Mode
  |--------------------------------------------------------------------------
  */

  function activateEditRoll() {
    shotTableStore.activateEditRoll();
  }

  function cancelEditRoll(rollBackup: Roll) {
    shotTableStore.cancelEditRoll(rollBackup);
  }

  /*
  |--------------------------------------------------------------------------
  | Helpers
  |--------------------------------------------------------------------------
  */

  function calculateShotNumber(index: number) {
    if (!shotTableStore.shots) return;

    return shotTableStore.sort === Sort.ASC
      ? index + 1
      : shotTableStore.shots.length - index;
  }

  /*
  |--------------------------------------------------------------------------
  | Cleanup
  |--------------------------------------------------------------------------
  */

  // Reset the store only if we're going back to rolls. Persist if moving to a shot
  onBeforeRouteLeave((to) => {
    if (to.name === "rolls") {
      shotTableStore.$reset();
    }
  });
</script>

<style scoped lang="scss"></style>
