<template>
  <FormFrame class="mt-auto p-2" v-if="shotEditStore.shot">
    <div class="flex flex-wrap gap-2">
      <TextField
        class="flex-grow-[10]"
        label="Shot Title"
        v-model:value="shotEditStore.shot.title"
        name="title"
      />
      <LensSelect class="flex-grow" v-model:value="shotEditStore.shot.lens" />
      <Switch label="Flash" v-model:enabled="shotEditStore.shot.flash" />
    </div>

    <ExposureTimeSelect v-model:value="shotEditStore.shot.exposure" />

    <ApertureSelect
      :lens="shotEditStore.shot.lens"
      v-model:value="shotEditStore.shot.aperture"
    />

    <ExposureValue v-model:value="shotEditStore.shot.pushpull" />

    <TextareaField
      label="Notes"
      v-model:value="shotEditStore.shot.notes"
      name="notes"
      :rows="3"
    />
  </FormFrame>
</template>

<script lang="ts" setup>
  import { cloneDeep } from "lodash";

  import ApertureSelect from "@/modules/Core/Components/ApertureSelect.vue";
  import ExposureTimeSelect from "@/modules/Core/Components/ExposureTimeSelect.vue";
  import ExposureValue from "@/modules/Core/Components/ExposureValue.vue";
  import FormFrame from "@/modules/Core/Components/FormFrame.vue";
  import LensSelect from "@/modules/Core/Components/Fields/LensSelect.vue";
  import Switch from "@/modules/Core/Components/Fields/Switch.vue";
  import TextField from "@/modules/Core/Components/Fields/TextField.vue";
  import TextareaField from "@/modules/Core/Components/Fields/TextareaField.vue";

  import { useShotEditStore } from "../store";

  /*
  |-------------------------------------------------------------------------- 
  | Init
  |--------------------------------------------------------------------------
  */

  const shotEditStore = useShotEditStore();
  const originalShot = cloneDeep(shotEditStore?.shot);
</script>
