<template>
  <super-header />

  <main class="grow flex flex-col">
    <slot />
  </main>

  <footer class="bg-portra h-10"><slot name="footer" /></footer>
</template>

<script setup lang="ts">
  import SuperHeader from "@/modules/SuperHeader/index.vue";
</script>
