<template>
  <action-footer v-show="!shotTableStore.editRollActive">
    <template #left>
      <back-button @click="handleBackClick" />
    </template>

    <template #default>
      <action-button @actionButton:click="handleActionClick">
        <span class="icon">
          <icon name="add-outline" />
        </span>
      </action-button>
    </template>
  </action-footer>
</template>

<script setup lang="ts">
  import router from "@/scripts/router";

  import Icon from "@/modules/Core/Components/Icon.vue";
  import ActionFooter from "@/modules/Core/Components/ActionFooter.vue";
  import BackButton from "@/modules/Core/Components/BackButton.vue";
  import ActionButton from "@/modules/Core/Components/Buttons/ActionButton.vue";

  import { useRollValidation } from "../Composables/Validation";

  import { useShotTableStore } from "../store";

  import { isExistingRoll } from "../@types";

  /*
  |--------------------------------------------------------------------------
  | Init
  |--------------------------------------------------------------------------
  */

  const shotTableStore = useShotTableStore();

  /*
  |--------------------------------------------------------------------------
  | Handlers
  |--------------------------------------------------------------------------
  */

  function handleBackClick() {
    router.push({
      name: "rolls",
    });
  }

  function handleActionClick() {
    if (useRollValidation().validateRoll()) return;

    if (!shotTableStore.roll) return;
    if (!isExistingRoll(shotTableStore.roll)) return;

    router.push({
      name: "new-shot",
      params: { rollId: shotTableStore.roll.id },
    });
  }
</script>
