<template>
  <div
    class="mb-1 -mt-4 cursor-pointer rounded border border-portra bg-white px-4 py-2 text-center drop-shadow hover:bg-portra-100 hover:shadow-inner"
    @click="shotTableStore.toggleRollInfoExpanded"
  >
    <!-- <div class="roll-options">
      <roll-info-menu @rollMenu:edit="$emit('rollInfo:edit')" />
    </div> -->

    <p v-show="shotTableStore.rollInfoExpanded">{{ camera }}</p>

    <transition>
      <div
        v-if="shotTableStore.roll"
        class="flex justify-center gap-2 text-2xl font-semibold"
      >
        <span>ISO {{ shotTableStore.roll?.film_iso }}</span>

        <span v-if="pushPull"> ({{ pushPull }}) </span>

        <icon
          v-if="shotTableStore.roll.completed"
          name="checkmark-circle-outline"
          class="mb-[2px] self-end text-fuji-600"
        />
      </div>
    </transition>

    <p class="text-gray-600" v-show="shotTableStore.rollInfoExpanded">
      {{ shotTableStore.roll?.notes }}
    </p>
  </div>
</template>

<script setup lang="ts">
  import { computed } from "vue";

  import { useShotTableStore } from "../store";

  import { useDisplayFormatters } from "@/modules/Core/Composables/DisplayFormatters";

  import Icon from "@/modules/Core/Components/Icon.vue";
  import RollInfoMenu from "./RollInfoMenu.vue";

  /*
  |--------------------------------------------------------------------------
  | Init
  |--------------------------------------------------------------------------
  */

  const shotTableStore = useShotTableStore();

  /*
  |--------------------------------------------------------------------------
  | Format for Display
  |--------------------------------------------------------------------------
  */

  const { formatCamera, formatPushPull } = useDisplayFormatters();

  const pushPull = computed(() =>
    formatPushPull(shotTableStore.roll?.pushpull)
  );

  const camera = computed(() => formatCamera(shotTableStore.roll?.camera));
</script>

<style lang="scss" scoped>
  #roll-info {
    min-height: 56px;
  }

  .roll-options {
    position: absolute;
    right: 0;
    top: 0;
  }
</style>
