<template>
  <dropdown-menu
    align="right"
    :isActive="rollMenuIsActive"
    @dropdown:clickOutside="deactivateRollMenu"
  >
    <template #activator>
      <span class="icon settings" @click.stop="toggleRollMenu">
        <icon class="is-size-4" name="settings-outline" />
      </span>
    </template>

    <template #items="{ _class }">
      <a
        :class="_class"
        v-for="item in rollMenu"
        @click.stop="[item.onClick(), deactivateRollMenu()]"
      >
        <span
          class="is-flex is-justify-content-end is-align-items-center is-flex-gap-3"
        >
          {{ item.label }} <icon class="is-size-5" :name="item.icon" />
        </span>
      </a>
    </template>
  </dropdown-menu>
</template>

<script lang="ts" setup>
  import { computed, ref } from "vue";
  import { useRouter } from "vue-router";

  import { api, progress, ziggy } from "@/modules/Api";
  import { useUpdateRoll } from "../Composables/UpdateRoll";

  import DropdownMenu from "@/modules/Core/Components/DropdownMenu.vue";
  import Icon from "@/modules/Core/Components/Icon.vue";

  import { useShotTableStore } from "../store";

  import { isExistingRoll } from "../@types";

  /*
  |--------------------------------------------------------------------------
  | Init
  |--------------------------------------------------------------------------
  */

  const router = useRouter();

  const emit = defineEmits(["rollMenu:edit"]);

  const shotTableStore = useShotTableStore();

  const rollMenuIsActive = ref(false);

  /*
  |--------------------------------------------------------------------------
  | Format for Display
  |--------------------------------------------------------------------------
  */

  const rollMenu = computed(() => {
    const menu = [];

    menu.push({
      label: "Edit Roll",
      icon: "create-outline",
      onClick: handleEditRoll,
    });

    if (shotTableStore.roll?.completed) {
      menu.push({
        label: "Mark as Incomplete",
        icon: "close-outline",
        onClick: () => updateCompleteMenu(false),
      });
    } else {
      menu.push({
        label: "Mark as Complete",
        icon: "checkmark-circle-outline",
        onClick: () => updateCompleteMenu(true),
      });
    }

    menu.push({
      label: "Remove Roll",
      icon: "trash-outline",
      onClick: handleRemoveRoll,
    });

    return menu;
  });

  /*
  |--------------------------------------------------------------------------
  | Handlers
  |--------------------------------------------------------------------------
  */

  /**
   * Toggle Menu Active
   */

  function toggleRollMenu() {
    rollMenuIsActive.value = !rollMenuIsActive.value;
  }
  async function updateCompleteMenu(isComplete: boolean) {
    progress.start();

    if (isComplete) shotTableStore.markRollAsCompleted();
    else shotTableStore.markRollAsIncompleted();

    try {
      const { updateRoll } = useUpdateRoll();

      const newRoll = await updateRoll();

      shotTableStore.roll = newRoll;
    } catch {
      // ...
    }

    progress.done();
  }

  function deactivateRollMenu() {
    rollMenuIsActive.value = false;
  }

  /**
   * Menu actions
   */
  function handleEditRoll() {
    emit("rollMenu:edit");
  }

  async function handleRemoveRoll() {
    if (!shotTableStore.roll) return;
    if (!isExistingRoll(shotTableStore.roll)) return;

    progress.start();

    try {
      await api.delete(
        ziggy.route("roll.destroy", { roll: shotTableStore.roll.id })
      );

      router.push({ name: "rolls" });
      shotTableStore.$reset();
    } catch {
      // do nothing for now
    }

    progress.done();
  }
</script>

<style lang="scss" scoped>
  .icon.settings {
    margin-right: 8px;
    margin-top: 14px;
  }
</style>
