<template>
  <TableEntryFrame :to="shotLink">
    <template #label>
      <TableEntryFrameLabel>
        <span class="font-normal">{{ props.number }}.&nbsp;</span>
        {{ shot.title }}
      </TableEntryFrameLabel>
    </template>

    <template #info>
      <div class="flex justify-end gap-1 text-sm">
        &fnof;{{ shot.aperture }} &bull;
        <span v-html="formatExposureTime(shot.exposure)" />
        <span v-if="pushPull">({{ pushPull }})</span>
        <icon v-if="shot.flash" class="self-center" name="flash-outline" />
      </div>
      <p>
        <span class="mr-1 font-bold">{{ lens?.makeModel }}</span>
        <span>{{ lens?.aperture }}</span>
      </p>
      <p>
        {{ dateCreated }}
      </p>
    </template>

    <template #notes v-if="shot.notes">
      {{ shot.notes }}
    </template>

    <template #behind>
      <swipe-remove @click="handleShotRemove" />
    </template>
  </TableEntryFrame>
</template>

<script setup lang="ts">
  import { computed } from "vue";
  import { DateTime } from "luxon";

  import { useDisplayFormatters } from "@/modules/Core/Composables/DisplayFormatters";

  import TableEntryFrame from "@/modules/Core/Components/Table/TableEntryFrame.vue";
  import TableEntryFrameLabel from "@/modules/Core/Components/Table/TableEntryFrameLabel.vue";
  import Icon from "@/modules/Core/Components/Icon.vue";
  import SwipeRemove from "@/modules/Core/Components/Table/SwipeRemove.vue";

  import { Shot } from "@/modules/Core/@types";
  import { useShotTableStore } from "@/modules/ShotTable/store";
  import { api, progress, ziggy } from "@/modules/Api";
  import { isExistingRoll } from "../@types";

  /*
  |--------------------------------------------------------------------------
  | Init
  |--------------------------------------------------------------------------
  */

  const shotTableStore = useShotTableStore();

  const { formatLens, formatPushPull, formatExposureTime } =
    useDisplayFormatters();

  const props = defineProps({
    shot: {
      type: Object as () => Shot,
      required: true,
    },
    number: {
      type: Number as () => number | undefined,
      required: true,
    },
  });

  const shotLink = computed(() => {
    if (!shotTableStore.roll) return {};
    if (!isExistingRoll(shotTableStore.roll)) return {};

    return {
      name: "shot",
      params: { rollId: shotTableStore.roll.id, shotId: props.shot.id },
    };
  });

  /*
  |--------------------------------------------------------------------------
  | Format for Display
  |--------------------------------------------------------------------------
  */

  const dateCreated = computed(() => {
    return DateTime.fromISO(props.shot.created_at).toLocaleString(
      DateTime.DATETIME_MED
    );
  });

  const pushPull = computed(() => formatPushPull(props.shot.pushpull));

  const lens = computed(() => formatLens(props.shot.lens));

  /*
  |--------------------------------------------------------------------------
  | Handlers
  |--------------------------------------------------------------------------
  */

  async function handleShotRemove() {
    if (!shotTableStore.roll) return;
    if (!isExistingRoll(shotTableStore.roll)) return;

    progress.start();

    try {
      await api.delete(
        ziggy.route("roll.shot.destroy", {
          shot: props.shot.id,
          roll: shotTableStore.roll.id,
        })
      );

      await shotTableStore.fetchRoll(Number(shotTableStore.roll.id));
    } catch {
      // ...
    }

    progress.done();
  }
</script>
