<template>
  <SlideUpModalFrame
    :open="showModal"
    @modal:cancel="handleCancel"
    @modal:left="handleCloseRoute"
  >
    <template #title>{{ shotEditStore.shot?.title }}</template>

    <template #main>
      <ShotEditForm />
    </template>

    <template #footer>
      <PrimaryButton class="ml-auto" @click="handleSave">Save</PrimaryButton>
    </template>
  </SlideUpModalFrame>
</template>

<script setup lang="ts">
  import { onMounted, onUnmounted, ref } from "vue";
  import { useRoute, useRouter } from "vue-router";

  import { api, progress, ziggy } from "../Api";

  import { useShotEditStore } from "./store";

  import ShotEditForm from "./Components/ShotEditForm.vue";
  import SlideUpModalFrame from "../Core/Components/Modals/SlideUpModalFrame.vue";
  import PrimaryButton from "../Core/Components/Buttons/PrimaryButton.vue";

  import { Shot } from "../Core/@types";

  /*
  |--------------------------------------------------------------------------
  | Init
  |--------------------------------------------------------------------------
  */

  const shotEditStore = useShotEditStore();

  const route = useRoute();
  const router = useRouter();

  const showModal = ref(true);

  onUnmounted(() => shotEditStore.$reset());

  /*
  |--------------------------------------------------------------------------
  | Hydrate Module
  |--------------------------------------------------------------------------
  */

  onMounted(async () => {
    if (route.meta.requiredHydration) {
      shotEditStore.markNeedsHydration();

      await shotEditStore.fetchShot(
        Number(route.params.shotId),
        Number(route.params.rollId)
      );

      shotEditStore.markFullyHydrated();

      if (shotEditStore.hydrated) progress.done();
    } else {
      // shotEditStore.makeNewShot();
    }
  });

  /*
  |--------------------------------------------------------------------------
  | Handlers
  |--------------------------------------------------------------------------
  */

  async function handleSave() {
    const res = await api.put<Shot>(
      ziggy.route("roll.shot.update", {
        roll: shotEditStore.roll?.id,
        shot: shotEditStore.shot?.id,
      }),
      shotEditStore.shot
    );

    handleCloseRoute();

    return res;
  }

  function handleCancel() {
    showModal.value = false;
  }

  async function handleCloseRoute() {
    router.push({
      name: "shots",
      params: {
        rollId: route.params.rollId,
      },
    });
  }
</script>
