<template>
  <FieldWrapper v-bind="props" label="Email">
    <InputField
      name="Email"
      :type="InputFieldType.Email"
      :value="value"
      @update:value="$emit('update:value', $event)"
    />
  </FieldWrapper>
</template>

<script lang="ts" setup>
  import FieldWrapper from "./FieldWrapper.vue";
  import InputField from "./InputField.vue";

  import { InputFieldType, TextFieldProps } from "./@types";

  const props = defineProps<TextFieldProps>();

  defineEmits(["update:value"]);
</script>
