<template>
  <div class="flex justify-center">
    <div
      :class="[
        'flex w-full',
        { 'flex-col': !rightAligned },
        { 'items-center': rightAligned },
      ]"
    >
      <label v-if="props.right == false" class="ml-1 font-bold" :for="label">{{
        label
      }}</label>
      <slot />
      <label v-if="rightAligned" class="ml-1 font-bold" :for="label">{{
        label
      }}</label>
    </div>
  </div>
</template>

<script lang="ts" setup>
  import { computed } from "vue";
  import { FieldWrapperProps } from "./@types";

  const props = defineProps<FieldWrapperProps>();

  const rightAligned = computed(() => props.right === true);
</script>
