<template>
  <div
    class="relative flex h-10 max-w-[100%] rounded bg-gradient-to-r from-portra-200 via-portra-100/50 to-portra-200 p-1 outline outline-1 outline-portra"
  >
    <!-- Selected Outline -->
    <div
      v-show="!disabled"
      class="absolute top-0 left-0 right-0 bottom-0 mx-auto my-auto flex items-center justify-center"
    >
      <!-- :class="disabled ? 'pointer-events-auto' : 'pointer-events-none'" -->
      <span
        class="h-7 w-12 transform rounded bg-transparent outline outline-1 outline-gray-400 transition-[width]"
        :style="{ width: `${selectedWidth}px` }"
      />
    </div>

    <!-- Previous Button -->
    <div
      :class="[
        'sticky -ml-1 -mt-1 flex h-10 cursor-pointer rounded-l px-2',
        ButtonColor.White,
      ]"
      @click="handleGoToPreviousOption"
    >
      <Icon name="chevron-back-outline" class="my-auto" />
    </div>

    <!-- Options List -->
    <div
      ref="optionWrapper"
      v-scroll="[onScroll, { throttle: 50 }]"
      class="scrollbar-none flex flex-grow snap-x snap-mandatory justify-between overflow-y-scroll"
    >
      <span class="min-w-[50%] flex-grow"></span>
      <span
        v-for="(option, index) in options"
        ref="option"
        :class="[
          'h-7 cursor-pointer snap-center self-center rounded px-5 transition-colors',
          { 'text-gray-400': selected !== index || disabled },
          {
            'text-black-600 bg-white font-bold':
              selected === index && !disabled,
          },
        ]"
        @click="handleSelectOption(index)"
        v-html="getLabel(option)"
      ></span>
      <span class="min-w-[45%] flex-grow"></span>
    </div>

    <!-- Next Button -->
    <div
      :class="[
        'sticky -mr-1 -mt-1 flex h-10 cursor-pointer rounded-r px-2',
        ButtonColor.White,
      ]"
      @click="handleGoToNextOption"
    >
      <Icon name="chevron-forward-outline" class="my-auto" />
    </div>
  </div>
</template>

<script setup lang="ts">
  import { computed, onMounted, ref, watch } from "vue";
  import { vScroll } from "@vueuse/components";

  import Icon from "../Icon.vue";

  import type { UseScrollReturn } from "@vueuse/core";
  import { ButtonColor } from "../Buttons/@types";
  import { SelectFieldProps, Option } from "./@types";
  import { debounce, mean } from "lodash";

  /*
  |--------------------------------------------------------------------------
  | Init
  |--------------------------------------------------------------------------
  */

  const props = defineProps<SelectFieldProps>();

  const emit = defineEmits(["selected:update"]);

  const optionWrapper = ref<HTMLElement>();
  const option = ref<HTMLElement[]>();

  const disabled = ref(!!props.disabled);

  /** --------------------
   * Handle selected value
   */

  const selected = ref(0);

  onMounted(() => {
    if (props.selected == null) {
      return;
    }

    let selectedIndex = (selected.value = props.options.findIndex(
      (option) => option.id === props.selected?.id
    ));

    if (selectedIndex < 0) {
      selectedIndex = 0;
    }

    selectOption(selectedIndex);
  });

  watch(selected, () => {
    if (disabled.value === false) {
      emit("selected:update", props.options[selected.value]);
    }
  });

  function selectOption(index: number, scroll = true) {
    if (scroll) {
      scrollToCenter(index, () => (selected.value = index));
    } else {
      selected.value = index;
    }
  }

  const selectedWidth = computed(
    () => option.value?.[selected.value].clientWidth
  );

  /*
  |--------------------------------------------------------------------------
  | Click Handlers
  |--------------------------------------------------------------------------
  */

  function handleSelectOption(index: number) {
    selectOption(index);
  }

  function handleGoToNextOption() {
    if (selected.value !== props.options.length - 1) {
      selectOption(selected.value + 1);
    }
  }

  function handleGoToPreviousOption() {
    if (selected.value !== 0) {
      selectOption(selected.value - 1);
    }
  }

  /*
  |--------------------------------------------------------------------------
  | Scroll Handlers
  |--------------------------------------------------------------------------
  */

  /**
   * We don't want to watch for scrolling if we're programmatically scrolling
   */
  const enableScrollWatch = ref(true);

  function scrollToCenter(index: number, afterScroll: () => void) {
    enableScrollWatch.value = false;

    option.value?.[index].scrollIntoView({
      behavior: "smooth",
      inline: "center",
    });

    /**
     * Roughly amount of time it takes to auto scroll
     */
    const AutoScrollTimeout = 200;

    setTimeout(() => {
      afterScroll();

      enableScrollWatch.value = true;
    }, AutoScrollTimeout);
  }

  /**
   * When the center option wrapper changes sizes, while scrolling, it can cause issues in the
   * `findCenterOption` function. Debounce until the scrolling stops.
   *
   * Might be better to just use the scroll stop event on vueuse?
   */
  const deboucedOnScroll = debounce(() => {
    const centerOption = findCenterOption();

    selectOption(centerOption, false);
  }, 100);

  function onScroll(state: UseScrollReturn) {
    if (enableScrollWatch.value) {
      deboucedOnScroll();
    }
  }

  function findCenterOption() {
    /**
     * Get the center of the option wrapper
     */
    const optionWrapperBounds = optionWrapper.value?.getBoundingClientRect();
    const optionWrapperCenter =
      ((optionWrapperBounds?.left ?? 0) + (optionWrapperBounds?.right ?? 0)) /
      2;

    let centerOption = selected.value;

    option.value?.forEach((option, index) => {
      /**
       * Get the center of the option
       */
      const optionBounds = option.getBoundingClientRect();
      const optionCenter = (optionBounds.left + optionBounds.right) / 2;

      if (
        Math.abs(optionCenter - optionWrapperCenter) <
        (selectedWidth.value ?? 25) / 2
      ) {
        centerOption = index;
      }
    });

    return centerOption;
  }

  /*
  |--------------------------------------------------------------------------
  | Display
  |--------------------------------------------------------------------------
  */

  function getLabel(selected: Option) {
    if (typeof props.optionLabel === "string") {
      return selected[props.optionLabel];
    }

    return props.optionLabel(selected);
  }
</script>

<style>
  /* hide scrollbar but allow scrolling */
  .scrollbar-none {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none; /* for Chrome and Safari */
  }
</style>
