<template>
  <!-- outline outline-1 outline-portra hover:outline-2 focus:ring-2 focus:ring-portra -->
  <input
    class="input-field"
    :name="props.name"
    :type="type"
    :value="value"
    @input="handleInput"
  />
</template>

<script lang="ts" setup>
  import { InputFieldProps } from "./@types";

  /*
  |-------------------------------------------------------------------------- 
  | Init
  |--------------------------------------------------------------------------
  */

  const props = defineProps<InputFieldProps>();
  const emits = defineEmits(["update:value"]);

  /*
  |--------------------------------------------------------------------------
  | Handle input
  |--------------------------------------------------------------------------
  */

  function handleInput(event: Event) {
    const value = (event.target as HTMLInputElement).value;

    const emitValue = value === "" ? null : value;

    emits("update:value", emitValue);
  }
</script>
