<template>
  <FieldWrapper label="Select Lens">
    <SelectField
      name="Select Lens"
      :options="authStore.user?.lenses || []"
      :option-label="formatFullLens"
      :selected="props.value"
      @update:selected="$emit('update:value', $event)"
    />
  </FieldWrapper>
</template>

<script lang="ts" setup>
  import FieldWrapper from "./FieldWrapper.vue";
  import SelectField from "./SelectField.vue";

  import { useAuthStore } from "@/modules/Auth/store";

  import { useDisplayFormatters } from "../../Composables/DisplayFormatters";

  import { Lens } from "../../@types";

  /*
  |-------------------------------------------------------------------------- 
  | Init
  |--------------------------------------------------------------------------
  */

  const authStore = useAuthStore();

  const props = defineProps<{
    value?: Lens;
  }>();

  /*
  |-------------------------------------------------------------------------- 
  | Display Helpers
  |--------------------------------------------------------------------------
  */

  const { formatLens } = useDisplayFormatters();

  const formatFullLens = (lens: Lens) => {
    const lensBits = formatLens(lens);

    return `${lensBits?.makeModel} ${lensBits?.aperture}`;
  };
</script>
