<template>
  <Listbox v-slot="{ open }" as="div" v-model="selectedValue">
    <ListboxButton
      class="relative w-full rounded bg-white py-2 pl-3 pr-10 text-left outline outline-1 outline-portra hover:outline-2 focus:bg-pureWhite focus:ring-2 focus:ring-portra"
      :class="[open ? 'bg-pureWhite' : 'bg-white']"
    >
      <span class="block truncate">{{ getLabel(selectedValue) }}</span>
      <span class="absolute inset-y-0 right-0 flex items-center pr-2">
        <Icon class="rotate-90 text-gray-400" name="code-outline" />
      </span>
    </ListboxButton>
    <ListboxOptions
      class="overflow-none absolute z-10 mt-1 max-h-60 max-w-sm rounded bg-pureWhite py-1 text-base shadow-lg focus:ring-portra"
    >
      <ListboxOption
        v-slot="{ active, selected }"
        v-for="option in options"
        :key="option.id"
        :value="option"
        as="template"
      >
        <li
          :class="[
            active ? 'bg-fuji-100 text-fuji-800' : 'text-black',
            'relative cursor-pointer py-2 pl-10 pr-4',
          ]"
        >
          <span
            :class="[selected ? 'font-bold' : 'font-normal', 'block truncate']"
            >{{ option.label }}</span
          >
          <span
            v-if="selected"
            class="absolute inset-y-0 left-0 flex items-center pl-3 text-fuji-700"
          >
            <Icon name="checkmark-outline" class="text-xl" />
          </span>
        </li>
      </ListboxOption>
    </ListboxOptions>
  </Listbox>
</template>

<script setup lang="ts">
  import {
    Listbox,
    ListboxButton,
    ListboxOptions,
    ListboxOption,
  } from "@headlessui/vue";
  import { computed, onMounted, ref, watch } from "vue";
  import Icon from "../Icon.vue";

  import { SelectFieldProps, Option } from "./@types";

  /*
  |-------------------------------------------------------------------------- 
  | Init
  |--------------------------------------------------------------------------
  */

  const props = defineProps<SelectFieldProps>();
  const emit = defineEmits(["update:selected"]);

  /*
  |-------------------------------------------------------------------------- 
  | Handle Select
  |--------------------------------------------------------------------------
  */

  const selectedValue = ref<Option>();

  onMounted(() => {
    if (props.selected == null) {
      return;
    }

    let selectedIndex = props.options?.findIndex(
      (option) => option.id === props.selected?.id
    );

    if (selectedIndex < 0) {
      selectedIndex = 0;
    }

    selectedValue.value = props.options[selectedIndex];
  });

  watch(selectedValue, () => emit("update:selected", selectedValue));

  /*
  |-------------------------------------------------------------------------- 
  | Helpers
  |--------------------------------------------------------------------------
  */

  function getLabel(option: Option | undefined) {
    if (!option) return;
    if (typeof props.optionLabel === "string") return option[props.optionLabel];

    return props.optionLabel(option);
  }
</script>
