<template>
  <FieldWrapper :label="props.label" :right="true" class="mt-6">
    <Switch
      v-model="enabled"
      :class="
        enabled ? 'border-fuji-600 bg-fuji' : 'border-portra bg-portra-200'
      "
      class="relative inline-flex h-[20px] w-[46px] shrink-0 cursor-pointer rounded-full border transition-colors duration-200 ease-in-out focus:outline-none"
    >
      <span class="sr-only">Use setting</span>
      <span
        aria-hidden="true"
        :class="enabled ? 'translate-x-5' : 'translate-x-0'"
        class="pointer-events-none -mt-[3px] inline-block h-[24px] w-[24px] transform rounded-full bg-white shadow outline outline-1 outline-gray-400 ring-0 transition duration-200 ease-in-out"
      />
    </Switch>
  </FieldWrapper>
</template>

<script setup lang="ts">
  import { ref, watch } from "vue";
  import { Switch } from "@headlessui/vue";

  import { SwitchFieldProps } from "./@types";
  import FieldWrapper from "./FieldWrapper.vue";

  /*
  |-------------------------------------------------------------------------- 
  | Init
  |--------------------------------------------------------------------------
  */

  const props = defineProps<SwitchFieldProps>();
  const emit = defineEmits(["update:enabled"]);

  /*
  |-------------------------------------------------------------------------- 
  | Handle Select
  |--------------------------------------------------------------------------
  */

  const enabled = ref(props.enabled);

  watch(enabled, () => emit("update:enabled", enabled));
</script>
