<template>
  <FieldWrapper v-bind="props">
    <InputField
      :name="props.label"
      :type="InputFieldType.Text"
      :value="props.value"
      @update:value="$emit('update:value', $event)"
    />
  </FieldWrapper>
</template>

<script lang="ts" setup>
  import FieldWrapper from "./FieldWrapper.vue";
  import InputField from "./InputField.vue";

  import { InputFieldType, TextFieldProps } from "./@types";

  /*
  |-------------------------------------------------------------------------- 
  | Init
  |--------------------------------------------------------------------------
  */

  const props = defineProps<TextFieldProps>();
  const emits = defineEmits(["update:value"]);
</script>
