<template>
  <FieldWrapper v-bind="props">
    <textarea
      class="input-field"
      :name="props.name"
      :value="value"
      @input="handleInput"
      :rows="props.rows?.toString()"
    />
  </FieldWrapper>
</template>

<script lang="ts" setup>
  import { TextareaProps } from "./@types";
  import FieldWrapper from "./FieldWrapper.vue";

  /*
  |-------------------------------------------------------------------------- 
  | Init
  |--------------------------------------------------------------------------
  */

  const props = defineProps<TextareaProps>();
  const emits = defineEmits(["update:value"]);

  /*
  |--------------------------------------------------------------------------
  | Handle input
  |--------------------------------------------------------------------------
  */

  function handleInput(event: Event) {
    const value = (event.target as HTMLInputElement).value;

    const emitValue = value === "" ? null : value;

    emits("update:value", emitValue);
  }
</script>
